/* Add your CSS here */


.navbar {
    background-color: #080808;
    overflow: hidden;
} 
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px; 
    text-decoration: none;
    font-size: 17px;
    text-align: center;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.navbar a.active {
    background-color: #04AA6D;
    color: rgb(255, 255, 255);
}
