/* Add your CSS here */

.navbar img {
    height: 28px;
    width: auto;
    float: left; /* Makes the image float left so it appears before the links */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    background-color: #0071c5;
    overflow: hidden;
} 
.navbar a {
    float: left;
    display: block;
    color: #080808;
    padding: 14px 16px; 
    text-decoration: none;
    font-size: 17px;
    text-align: center;
}
.navbar a:hover {
    background-color: #52bbf0;
    color: black;
}
.navbar a.active {
    background-color: #04AA6D;
    color: rgb(255, 255, 255);
}

body {
    font-family: neo sans, sans-serif;
    margin: 0;
    padding: 0;
    color: #080808;
    text-align: center;
}

.img {
    max-width: 100%;
    height: auto;
}

#ghg {
  max-width: 499px;
  max-height: auto;  
}

.main {
    margin: 20px;
}

.year {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 5px;
  border-radius: 5px;
  border-style: solid;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}


@media (min-width: 992px) {
    /* Make the main container display items horizontally with scroll */
    .main {
        display: flex; /* Display items in a row */
        overflow-x: auto; /* Enable horizontal scrolling */
        flex-wrap: nowrap; /* Prevent wrapping to next line */
    }
    
    .year {
        flex-shrink: 0; /* Prevent items from shrinking */
        width: 300px; /* Fixed width for each item */
        margin: 10px;
    }
}