/* Add your CSS here */

.navbar img {
    height: 30px;
    width: auto;
    float: left; /* Makes the image float left so it appears before the links */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    background-color: #0071c5;
    overflow: hidden;
} 
.navbar a {
    float: left;
    display: block;
    color: #080808;
    padding: 14px 16px; 
    text-decoration: none;
    font-size: 17px;
    text-align: center;
}
.navbar a:hover {
    background-color: #52bbf0;
    color: black;
}
.navbar a.active {
    background-color: #04AA6D;
    color: rgb(255, 255, 255);
}

body {
    font-family: neo sans, sans-serif;
    margin: 0;
    padding: 0;
    color: #080808;
}